@import "./header-top/main-header-top.css";
#top-area {
  height: var(--top-nav-height);
  transition: height var(--top-nav-height-animation);
}
header {
  background-color: var(--color-neutral-000);
  -webkit-box-align: center;
  align-items: center;
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  display: flex;
  position: fixed;
  left: 0px;
  top: 34px;
  transition: height var(--top-nav-height-animation, 0.3s ease-in-out),
    background-color 0.1s ease-in-out;
  width: 100%;
  z-index: 1100;
  border-bottom: 2px solid rgb(245, 245, 245);
  height: var(--top-nav-inner-height, 64px);
  padding: 0px 30px;
}
